fastapi
uvicorn[standard]
celery[redis]
redis
google-cloud-storage
google-cloud-secret-manager
python-multipart
requests
jinja2
pydantic
pydantic-settings
uuid
sqlalchemy
asyncpg
alembic
greenlet
jwcrypto
cryptography
pytest
bandit
playwright
opencv-python-headless

firebase-functions
firebase-admin
a2wsgi
google-cloud-videointelligence
aiosqlite
