fastapi
uvicorn[standard]
celery[redis]
redis
google-cloud-storage
google-cloud-secret-manager
python-multipart
requests
jinja2
pydantic
pydantic-settings
uuid
sqlalchemy
asyncpg
alembic
greenlet
jwcrypto
cryptography
pytest
bandit
playwright
opencv-python-headless

firebase-functions
firebase-admin==6.2.0
a2wsgi
google-cloud-videointelligence
google-generativeai
aiosqlite
razorpay==1.3.0
reportlab==4.0.0
pandas
openpyxl
PyJWT
